* {
  margin: 0;
  padding: 0;
  outline: none;
}

.editor-container {
  background-color: #f5f5f5;
  padding: 0;
}

.ql-container.ql-snow {
  background-color: white;
  width: 100%;
  border: none !important;
  margin: 0rem auto;
  box-shadow: 0px 0px 14px rgb(239, 236, 236);
  min-height: 100vh;
}

.ql-toolbar.ql-snow {
  border: none !important;
  box-shadow: 2px 2px 4px lightgrey;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  position: sticky !important;
  top: 3rem;
  z-index: 100;
}

.btn {
  color: white !important;
  border: none !important;
}

.btn-primary {
  background-color: #20c997 !important;
}

.header {
  padding: 1rem 2rem;
  outline: none;
  background-color: #ffffff;
  box-shadow: 2px 2px 30px rgb(226, 226, 226);
}

.header-right {
  display: inline-flex;
  gap: 20px;
}

.form-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.form-control {
  outline: none !important;
  width: 50% !important;
}

.form-box {
  display: flex;
  width: 900px !important;
  gap: 20px;
  padding: 0px !important;
}

.home {
  min-height: 100vh;
  background-color: rgb(249, 249, 249);
}

.logo-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  width: 32px;
}

@media print {
  @page {
    box-shadow: 0px 0px rgb(239, 236, 236);
    margin: 2rem;
  }
}

.bold {
  font-weight: bold;
}

.document-row {
  cursor: pointer;
  padding: 0.6rem;
  width: 90%;
  margin: auto;
  background-color: white;
  border-bottom: 1px solid rgb(229, 226, 226);
}

.top-row {
  pointer-events: none !important;
}

.document-row:hover {
  background-color: #f1f1f1ad;
}

.table {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 900px !important;
  align-items: center;
  border: 1px solid rgb(224, 223, 223);
  box-shadow: 5px 5px 20px rgb(239, 236, 236);
}

.loginpage {
  background: linear-gradient(50deg, #20c996c1, rgba(0, 0, 0, 0.717)),
    url("assets/bg.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.loginpage .content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loginbutton {
  font-size: 20px !important;
  padding: 0px 10px !important;
  box-shadow: 5px 5px 30px rgb(72, 72, 72) !important;
}

.logoutbutton {
  box-shadow: 5px 5px 30px rgb(229, 227, 227) !important;
  padding: 0px 10px !important;
}

.profilepic {
  border-radius: 50%;
  width: 48px;
  height: 48px;

  object-fit: cover;
}

.inputarea {
  width: 300px !important;
  border: 1px solid lightgrey;
  border-radius: 7px;
  padding: 0 10px;
}
.footer {
  color: rgb(140, 139, 139);
  text-align: center;
  background-color: #efefef;
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 10px !important;
}
.footer a {
  color: rgb(140, 139, 139);
  text-decoration: none;
}
.footer a:hover {
  color: #20c997;
}
