* {
  margin: 0;
  padding: 0;
  outline: none;
}
.editor-container {
  background-color: #f5f5f5;
}

.ql-container.ql-snow {
  background-color: white;
  width: 100%;
  border: none !important;
  margin: 0.4rem auto;
  box-shadow: 0px 0px 14px lightgrey;
  min-height: 100vh;
}
.ql-toolbar.ql-snow {
  border: none !important;
  box-shadow: 2px 2px 4px lightgrey;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 100;
}
.btn {
  color: white !important;
}
